<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/email.css">
    <title>Verify your Email Address</title>
</head>
<body>
    <div class="container">
        <div class="container-heading">
    Verify your Email Address</div>
    We've sent a verification message to {{result}}. Check your email and follow the link to continue the applicant process. <br><br>Can't find the email?  
<br><br>
    <button type=submit>Resend Email</button>
</div>
</body>

</html>