<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/page_2.css">
    <title>Signup</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <form class="form" method="post" action='/signup_testtaker'>
                <img src="../static/img/woman.svg " style="margin-top: 20px; margin-bottom: 10px;" alt="Outlook"></img>
            <div class="heading">Get paid to give feedback</div>
            <div class="about">
                Visit a website
                <br>Complete a set of tasks
                <br>Answer few questions
                <br>Get Paid
            </div>
            <div class="signup-button"><br>
                <button type="submit">Get Paid to Test</button>
            </div>
            </form>
        </div>
        <div class="right">
            <form class="form" method="post" action="/signup_testmaker">
                <img src="../static/img/people.svg" alt="Outlook"></img>
            <div class="heading">Get feedback from users</div>
            <div class="about"><br>
                Create a form with a set of tasks for your website
                <br>Get users to give feedback
                <br>Analyse the feedback
            </div>
            <div class="signup-button"><br>
                <button type="submit">Create account to get feedback</button>
            </div>
            </form>
        </div>
    </div>
</body>
</html>