<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/signin.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <form class="form" method="post" action="/sign_in">
    <div class="container">
    <div class="container-heading">
    Get paid to share your opinions</div>
    Enter your email address:<br><br>
    <input type="email" class="signup-input" name="email" placeholder="Eg. johndoe@gmail.com"></input><br><br><br>
    <button style="align-items: center;" type="submit" >Sign Up</button>
</div>    
</form> 
</body>
</html>